/* style.css */

* {
    /*background-color: rgb(228, 215, 181);*/
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: blanchedalmond;
}

.container {
    
    padding: 16px;
    border: 3px burlywood dotted;
    gap: 8px;
    display: flex;
}

.container > li {
    
    border: 3 px dotted burlywood;
    height: 48px;
    flex: 1;
    padding: 4px;
}

h1, h2, h3 {
    width: 50%;
}

h1 {
    font-size: 40px;
    font-variant-caps:all-petite-caps;
    
    background-color: white;
    
}

h2, h1, div, img, h3 {
    border: 3px dotted burlywood;
    padding: 10px;
    margin: 20px;
}

h2 {
    margin-top: -20px;
    margin-left: 3em;
    width: 40%;
    
    /*margin-right: 3em;*/
}

img {
    background-color: white;
    border: 3px dotted burlywood;
}

.description, .description h4, .description p {
    background-color: rgb(243, 211, 170);

}

.ingredients, .description, .steps  {
    width: 50%;
}

.ingredients, .ingredients h4, .ingredients ul, .ingredients li, .ingredients p {
    background-color: white;
    
    
}

.steps, .steps ol, .steps li, .steps h4, .steps p {
    background-color: blanchedalmond;
}

